{% extends 'base.html.twig' %}

{% block title %} BouWatch Equipment{% endblock %}
{% block body %} 
    <h1 class='mt-5'>Equipment</h1>
    {% if equipment %}
        <table class="table table-striped mt-5">
            <thead >
                <tr>
                    <th>Type</th>
                    <th>Model</th>
                    <th>Production date</th>
                    <th>Revision</th>
                    <th>Serial Number</th>
                    <th>Status</th>
                    <th>Logs</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody >
                {% for equipmentitem in equipment%}
                    <tr >
                       <td >{{equipmentitem.type}}</td>
                       <td >{{equipmentitem.model}}</td>
                       <td >date</td>
                       <td >{{equipmentitem.revision}}</td>
                       <td >{{equipmentitem.serialnumber}}</td>
                       <td >{{equipmentitem.statusstatus}}</td> 
                       <td><a href="/equipment/{{ equipmentitem.id }}" class="btn btn-dark">Show Logs</a></td>
                       <td><a href="/equipment/remove/{{ equipmentitem.id }}" class="btn btn-danger">Remove</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p class='mt-5 text-danger'>No equipment present</p>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}


