{% extends 'base.html.twig' %}

{% block title %}Production Log{% endblock %}
{% block body %} 
    <h1 class='mt-5'>Production Log</h1>
    {% if orders %}
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order date</th>
                    <th>Customer</th>
                    <th>Handler by</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders%}
                    <tr>
                       <td>{{order}}</td>
                       <td>{{order}}</td>
                       <td>{{order}}</td>
                       <td>{{order}}</td>
                       <td>{{order}}</td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p class='mt-5 text-danger'> No orders present</p>
    {% endif %}
{% endblock %}


