{% extends 'base.html.twig' %}

{% block title %} Order Rules{% endblock %}
{% block body %} 
    <h1 class='mt-5'>Order Rules</h1>
    {% if order_rules %}
        <table class="table table-striped mt-5">
            <thead >
                <tr>
                    <th>ID</th>
                    <th>Part</th>
                    <th>Equipment</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody >
                {% for order_rule in order_rules%}
                    <tr >
                        <th>{{order_rule.getId()}}</th>
                        <td >{{order_rule.getPartId().getName()}}</td>
                        <td >{{order_rule.getEquipmentId().getType()}}</td>
                        <td >{{order_rule.getPrice}}</td>
                        <td><a href="/rmaorderrules/remove/{{ order_rule.id }}" class="btn btn-danger">Remove</a></td>
                    
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p class='mt-5 text-danger'>No Order Rules present</p>
    {% endif %}
 {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
{% endblock %}


